@media (min-width: 768px) {
  .kintagAnimation img {
    max-width: 100vw;
  }
}

@media (min-width: 900px) {
  /* NAVBAR */
  .mobileNavbar {
    display: none;
  }

  .desktopNavbar {
    background-color: white;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 5%;
    gap: 110px;
  }

  .desktopNavbarLogo {
    height: 40%;
    width: 70%;
    display: flex;
    align-content: center;
    justify-content: start;
  }

  .desktopNavbarLogo img {
    width: 90%;
    height: auto;
    width: auto;
    padding-left: 51.797px;
  }

  .desktopNavFlex {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
  }

  .menuDrop {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .menuDrop img {
    height: 7px;
    width: 12px;
  }

  /* CHAT-BOT */
  .chat-icon:hover {
    transform: scale(1.1);
  }

  /* HEADER */
  .headerButtons {
    display: flex;
    gap: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero-knapp {
    color: var(--background-color);
    background-color: var(--secondcolorgreen);
    width: 15vw;
    height: 5vh;
    border: none;
  }

  .cards-wrapper {
    overflow-x: hidden;
    scroll-snap-type: none;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: space-evenly;
    gap: 0;
    padding: 0;
  }

  .card {
    scroll-snap-align: none;
    min-width: 20vw;
    width: 20vw;
    height: auto;
  }

  .card img {
    width: 100%;
  }
  .karusell {
    margin-bottom: 10%;
  }

  /* Section: Jackan */
  .sectionJacka {
    margin-bottom: 25%;
    overflow: visible;
    margin-top: 0%;
  }

  .greyJacket {
    overflow: hidden;
    width: 100vw;
    height: auto;
  }

  .jacketDot {
    width: 10vw;
  }

  .item1 {
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  .item2 {
    top: 75%;
    left: 63%;
    transform: translate(-50%, -50%);
  }

  .item3 {
    top: 125%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  .sectionJacka button {
    width: 15vw;
    bottom: -40%;
    right: 10%;
  }

  .textJackaMobile {
    display: none;
  }

  .textJackaDesktop {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 25vw;
    text-align: center;
    text-align: end;
    z-index: 5;
  }

  .jackaHeaderDesktop {
    font-size: 3rem;
    margin-bottom: 0;
  }

  /* Section: Produktvisning */
  .sectionTextProduktvisning {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }

  .divTextProduktvisning {
    width: 90%;
    background-color: var(--secondcolorgreen);
    text-align: center;
    color: var(--background-color);
  }

  .divTextProduktvisning h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  section.produktvisning {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 20px;
  }

  .productCard {
    width: 30%;
    height: 20%;
  }

  .productCard img {
    margin-bottom: 0;
    width: 100%;
    aspect-ratio: 1;
  }
  .greyBox {
    display: inline-block;
    background-color: grey;
    width: 30vw;
    height: 85vh;
  }

  .nextGreyBox {
    width: 100vw;
    height: 60vh;
    background-color: lightblue;
  }

  /* Section: Hållbarhet */
  .recycleHeader {
    color: var(--background-color);
    font-size: 4rem;
    margin-top: 10%;
  }

  .recycleBackground {
    display: block;
  }

  .argumentDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
  }

  .argument {
    width: 25vw;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0;
    align-items: center;
    margin-bottom: 5%;
  }

  .readMore {
    width: 15vw;
    height: 7vh;
    border: none;
  }

  /* Section: Location */
  section.location {
    margin: 0;
  }

  .location {
    display: flex;
    flex-direction: row-reverse;
  }

  .imgLocation {
    width: 50vw;
    aspect-ratio: 1;
  }

  .textLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    aspect-ratio: 1;
    margin-left: 10%;
  }
  .textLocation h3 {
    font-size: 84px;
  }

  /* Footer */
  .footerLogoDesktop {
    display: block;
  }

  .footerLogoMobile {
    display: none;
  }

  .footerSocialsDesktop {
    display: block;
  }

  .footerSocialsMobile {
    display: none;
  }

  .footerProdukter {
    display: block;
  }

  .footerTopBorder {
    display: block;
  }

  footer {
    margin-left: 80px;
    margin-right: 80px;
  }

  .footerBorders {
    margin-top: 60px;
  }

  .footerBottomElements {
    padding-bottom: 40px;
    margin-left: -80px;
    margin-right: -80px;
  }

  .footerBottomElements .footerThin {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    padding-left: 80px;
  }

  .footerBottomElements img {
    padding-right: 80px;
  }

  .footerProdukter h1,
  h2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .footerOmOss p {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .footerSupport {
    margin-top: 0px;
  }

  .footerSupport p {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .footerOmOss {
    margin-top: 0px;
  }

  .footerTextWall {
    flex-direction: row;
  }

  .footerBottomElements {
    flex-direction: row;
  }

  .newsletter h3 {
    font-size: 3rem;
  }

  .newsletter .newsletterTopText {
    font-size: 18px;
  }

  .newsletter .newsletterBottomText {
    font-size: 12px;
  }

  .newsletter button {
    width: 145px;
    height: 48px;
  }

  #signUpBox {
    width: 352px;
    height: 48px;
  }

  input {
    padding-left: 20px;
  }

  .mapMobile {
    display: none;
  }

  .mapDesktop {
    display: block;
  }

  .footerThin {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
