:root {
  --background-color: #fbfbf5;
  --secondcolorgreen: #5d613c;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #fbfbf5;
  font-family: "IBM Plex Sans", sans-serif;
}
main {
  position: relative;
}

/* NAVBAR */
nav {
  position: sticky;
  top: 0;
  z-index: 999;
}

.mobileNavbar {
  background-color: white;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 100;
}

.desktopNavbar {
  display: none;
}

.logo {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: start;
}

.navFlex {
  background-color: lightgrey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  width: 80vw;
  height: 7vh;
  border-radius: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.navFlex img {
  height: 20px;
  width: 20px;
}

/* HEADER SECTION */
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 630px;
}

.backgroundHeader {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
}

header h2 {
  font-weight: 900;
  text-align: center;
  z-index: 2;
  font-size: 4rem;
  margin: 7%;
  color: #fbfbf5;
}

.headerP {
  display: none;
  color: #fbfbf5;
}

.headerButtons {
  display: none;
}
/* ----- CHAT BOT ------ */
.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.2s ease;
}

/* KARUSELL */

h2.nyheter {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.cards-wrapper {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 24px;
  margin-top: 10%;

  scroll-snap-type: x mandatory;
}

.card {
  min-width: 80vw;
  background: white;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
  border: 1px solid black;
  scroll-snap-align: center;
}

.card img {
  width: 70vw;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 16px;
}

/* SECTION: Jackan */
.textJackaMobile {
  width: 100vw;
  text-align: center;
}

.jackaHeaderMobile {
  font-size: 2rem;
  margin-bottom: 0;
}

.sectionJacka {
  background-color: var(--background-color);
  width: 100vw;
  height: 60vh;
  position: relative;
  margin-top: 10%;
  /* margin-top: 40%; */
  margin-bottom: 20%;
  overflow: hidden;
}

.greyJacket {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 200%;
  object-fit: cover;
}

.jacketDot {
  width: 25vw;
  aspect-ratio: 1;
}

.item1 {
  position: absolute;
  top: 75%;
  left: 5%;
  z-index: 5;
}

.item2 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.item3 {
  position: absolute;
  top: 75%;
  right: 5%;
}

.sectionJacka button {
  position: absolute;
  bottom: 33%;
  right: 6%;
  width: 35vw;
  height: 5vh;
  background-color: var(--secondcolorgreen);
  color: var(--background-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0 5px 19px grey;
}

/* SECTION: Produktvisning */
section.produktvisning {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productCard {
  width: 90vw;
  height: auto;
  /* height: 80vh; */
  position: relative;
}

.productCardBorder {
  border: 1px solid black;
}

.productCard img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 10%;
}

.produktText {
  position: absolute;
  top: 45%;
  left: 5%;
}

.productCard h3 {
  font-size: 2rem;
  margin-bottom: 10%;
}

.configBox {
  border: 1px solid black;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.colorBox {
  width: 20%;
  aspect-ratio: 1;
  border: 1px solid black;
  gap: 10px;
}

/* TILLFÄLLIGA FÄRGER I COLORCONFIG */

.coatConfigRed,
.charmConfigRed,
.bitsConfigRed,
.tagConfigRed,
.patchesConfigRed {
  background-color: red;
}

.coatConfigYellow,
.charmConfigYellow,
.bitsConfigYellow,
.tagConfigYellow,
.patchesConfigYellow {
  background-color: yellow;
}

.coatConfigGreen,
.charmConfigGreen,
.bitsConfigGreen,
.tagConfigGreen,
.patchesConfigGreen {
  background-color: green;
}

.coatConfigBlue,
.charmConfigBlue,
.bitsConfigBlue,
.tagConfigBlue,
.patchesConfigBlue {
  background-color: blue;
}

.productCard button {
  background-color: black;
  text-align: center;
  width: 100%;
  height: 47px;
  border-radius: 4px;
  color: white;
  margin-bottom: 10%;
}

.greyBox {
  display: none;
}

.karusell {
  margin-bottom: 15%;
}

/* Section: Hållbarhet */

.recycle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.recycleHeader {
  text-align: center;
  margin-bottom: 10%;
}

.argument {
  width: 90vw;
  border-radius: 16px;
  /*      x-axel y-axel, blur, färg */
  box-shadow: 0 5px 19px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  padding-left: 10%;
  margin-bottom: 10%;
  background-color: var(--secondcolorgreen);
  color: var(--background-color);
}

.argument div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.miniIcon {
  width: 60px;
  height: 60px;
}

.miniIcon img {
  width: 100%;
  height: auto;
}

.readMore {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 30vw;
  height: 5vh;
  background-color: var(--background-color);
}

/* ABOUT US */
.aboutUs {
  width: 100vw;
  height: auto;
  padding: 10%;
}

/* SECTION: Newsletter */
.newsletter {
  background: url("/pictures/Frame 92.png");
  background-size: cover;
  width: 100vw;
  height: auto;
  background-color: grey;
  padding: 10%;
}

.newsletter h3 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: white;
  text-align: center;
}

.newsletter p {
  color: white;
  text-align: center;
  font-weight: 400;
}

.signUp {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

#signUpBox {
  background-color: grey;
  border: 1px solid white;
  color: white;
}

/* SECTION: Location */

section.location {
  margin: 10%;
}

.location h3 {
  font-size: 2rem;
}

.imgLocation {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

/* FOOTER */

/* ----- MEDIA QUERY ----- */

@media (min-width: 900px) {
  /* NAVBAR */
  .mobileNavbar {
    display: none;
  }

  .desktopNavbar {
    background-color: white;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 5%;
    gap: 300px;
  }

  /* .navGap {
    width: 50%;
    } */

  .desktopNavbarLogo {
    height: 40%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .desktopNavbarLogo img {
    width: 90%;
    height: auto;
  }

  .desktopNavFlex {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuDrop {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .menuDrop img {
    height: 7px;
    width: 12px;
  }

  /* CHAT-BOT */

  .chat-icon:hover {
    transform: scale(1.1);
  }

  /* HEADER */
  /* .headerP {
    display: block;
    text-align: center;
    margin-bottom: 5%;
  } */

  .headerButtons {
    display: flex;
    gap: 40px;
  }

  .headerButtons button {
    color: var(--background-color);
    background-color: var(--secondcolorgreen);
    width: 15vw;
    padding-top: 4%;
    padding-bottom: 4%;
    border: none;
  }

  /* Karusell i produktvisning, karusell ska brytas. */
  .cards-wrapper {
    /* To break karusell */
    overflow-x: hidden;
    scroll-snap-type: none;

    /* Actucal desktop layout */
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: space-evenly;
    gap: 0;
    padding: 0;
  }

  .card {
    /* To break karusell */
    scroll-snap-align: none;
    min-width: 20vw;

    /* Actual desktop layout */
    width: 20vw;
    height: auto;
  }

  .card img {
    width: 100%;
  }
  .karusell {
    margin-bottom: 10%;
  }

  /* ----- Section: Jackan ----- */
  /* ----- INTE KLAR ----- */
  .sectionJacka {
    margin-bottom: 25%;
    overflow: visible;
    margin-top: 0%;
  }

  .greyJacket {
    overflow: hidden;
    width: 100vw;
    height: auto;
  }

  .jacketDot {
    width: 10vw;
  }

  .item1 {
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  .item2 {
    top: 75%;
    left: 63%;
    transform: translate(-50%, -50%);
  }

  .item3 {
    top: 125%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  .sectionJacka button {
    width: 15vw;
    bottom: -40%;
    right: 10%;
  }

  .textJackaMobile {
    display: none;
  }

  .textJackaDesktop {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 25vw;
    text-align: center;
    text-align: end;
    z-index: 5;
  }

  .jackaHeaderDesktop {
    font-size: 3rem;
    margin-bottom: 0;
  }

  /* Section: Produktvisning */
  section.produktvisning {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 20px;
  }

  .productCard {
    width: 30%;
    height: 20%;
  }

  .productCard img {
    margin-bottom: 0;
    width: 100%;
    aspect-ratio: 1;
  }

  .greyBox {
    display: inline-block;
    background-color: grey;
    width: 30vw;
    height: 85vh;
  }

  .nextGreyBox {
    width: 100vw;
    height: 60vh;
    background-color: lightblue;
  }

  /* Section: Hållbarhet */

  .recycleHeader {
    color: var(--background-color);
    /* ---------- TA BORT RÖDA TEXTFÄRGEN!!!!! ---------- */
    color: red;
    font-size: 4rem;
  }

  .argumentDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
  }

  .argument {
    width: 25vw;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0;
    align-items: center;
  }

  .readMore {
    width: 15vw;
    height: 7vh;
    border: none;
  }

  /* Section: Location */
  section.location {
    margin: 0;
  }

  .location {
    display: flex;
    flex-direction: row-reverse;
  }

  .imgLocation {
    width: 50vw;
    aspect-ratio: 1;
  }

  .textLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    aspect-ratio: 1;
    margin-left: 10%;
  }
}

/* Hover-effekt på dots runt jackan */
/* .jacketDot:hover {
  transform: scale(1.2);
  transition: transform 0.4 ease;
} */

.footerLogoDesktop {
  display: none;
}
.footerLogoMobile {
  display: block;
  width: 103.9px;
  height: 16.46px;
}
.footerSocialsDesktop {
  display: none;
}
.footerSocialsMobile {
  display: block;
  order: -1;
  width: 54.85px;
  padding-bottom: 10px;
  margin-top: -15px;
}
.footerProdukter {
  display: none;
}

.footerLogoDesktop {
  display: none;
}
.footerLogoMobile {
  display: block;
  width: 103.9px;
  height: 16.46px;
}
.footerSocialsDesktop {
  display: none;
}
.footerSocialsMobile {
  display: block;
  order: -1;
  width: 54.85px;
  padding-bottom: 10px;
  margin-top: -15px;
}
.footerProdukter {
  display: none;
}

footer {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.footerTopBorder {
  border-top: 1px solid black;
  width: 100vw;
  padding-top: 70px;
  margin-left: -80px;
  display: none;
}

.footerBorders {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 30px;
}
.footerBold {
  font-size: 16px;
  font-weight: 600;
}
.footerThin {
  font-size: 14px;
  font-weight: 400;
}

.footerTextWall {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 60px;
  margin-bottom: 120px;
}

.footerProdukter {
  width: 149.67px;
}
.footerOmOss {
  width: 149.67px;
  margin-top: -40px;
}
.footerOmOss p {
  padding-top: 0px;
  padding-bottom: 0px;
}
.footerOmOss .footerThin {
  margin-top: 6px;
  margin-bottom: 6px;
}
.footerSupport {
  width: 149.67px;
  margin-top: -30px;
  margin-bottom: -60px;
}
.footerSupport p {
  padding-top: 0px;
  padding-bottom: 0px;
}
.footerSupport .footerThin {
  margin-top: 6px;
  margin-bottom: 6px;
}

.footerBottomElements {
  color: white;
  background: url("/pictures/Frame 91.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
}
.footerBottomElements .footerThin {
  font-size: 8px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
}
.footerBottomElements img {
  padding-left: 20px;
}

@media (min-width: 900px) {
  .footerLogoDesktop {
    display: block;
  }
  .footerLogoMobile {
    display: none;
  }
  .footerSocialsDesktop {
    display: block;
  }
  .footerSocialsMobile {
    display: none;
  }
  .footerProdukter {
    display: block;
  }
  .footerTopBorder {
    display: block;
  }
  footer {
    margin-left: 80px;
    margin-right: 80px;
  }
  .footerBorders {
    margin-top: 60px;
  }
  .footerBottomElements {
    padding-bottom: 40px;
    margin-left: -80px;
    margin-right: -80px;
  }
  .footerBottomElements .footerThin {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    padding-left: 80px;
  }
  .footerBottomElements img {
    padding-right: 80px;
  }
  .footerProdukter h1,
  h2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .footerOmOss p {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .footerSupport {
    margin-top: 0px;
  }
  .footerSupport p {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .footerOmOss {
    margin-top: 0px;
  }
  .footerTextWall {
    flex-direction: row;
  }
  .footerBottomElements {
    flex-direction: row;
  }
}
