.viewport-mask {
  position: relative;
  width: 100vw;
  height: 90vh;
  overflow: hidden; /* döljer vänstra halvan */
  background: beige;
}

@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.circle-container {
  position: absolute;
  top: 50%; /* position y-axeln */
  left: -15%; /* position x-axeln */
  transform: translateY(-50%);
  width: min(80vmin, 400px);
  height: min(80vmin, 400px);
  border-radius: 50%;
  animation: spin 120s linear infinite;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(12vmin);
  height: calc(12vmin);
  object-fit: cover;
  border-radius: 50%;
  transform-origin: 0 -40%; /* radien definierar cirkelns kant */
  transition: transform 0.3s;
}

/* POSITIONER RUNT CIRKELN */
.item:nth-child(1) {
  transform: rotate(0deg) translateY(-50%) translateX(50%) translateY(-40vmin)
    rotate(0deg);
}
.item:nth-child(2) {
  transform: rotate(30deg) translateY(-50%) translateX(50%) translateY(-40vmin)
    rotate(-30deg);
}
.item:nth-child(3) {
  transform: rotate(60deg) translateY(-50%) translateX(50%) translateY(-40vmin)
    rotate(-60deg);
}
.item:nth-child(4) {
  transform: rotate(90deg) translateY(-50%) translateX(50%) translateY(-40vmin)
    rotate(-90deg);
}
.item:nth-child(5) {
  transform: rotate(120deg) translateY(-50%) translateX(50%) translateY(-40vmin)
    rotate(-120deg);
}
.item:nth-child(6) {
  transform: rotate(150deg) translateY(-50%) translateX(50%) translateY(-40vmin)
    rotate(-150deg);
}
.item:nth-child(7) {
  transform: rotate(180deg) translateY(-50%) translateX(50%) translateY(-40vmin)
    rotate(-180deg);
}
.item:nth-child(8) {
  transform: rotate(210deg) translateY(-50%) translateX(50%) translateY(-40vmin)
    rotate(-210deg);
}
.item:nth-child(9) {
  transform: rotate(240deg) translateY(-50%) translateX(50%) translateY(-40vmin)
    rotate(-240deg);
}
.item:nth-child(10) {
  transform: rotate(270deg) translateY(-50%) translateX(50%) translateY(-40vmin)
    rotate(-270deg);
}
.item:nth-child(11) {
  transform: rotate(300deg) translateY(-50%) translateX(50%) translateY(-40vmin)
    rotate(-300deg);
}
.item:nth-child(12) {
  transform: rotate(330deg) translateY(-50%) translateX(50%) translateY(-40vmin)
    rotate(-330deg);
}
